{% extends 'body.html' %}

{% block title%}
Главная страница
{% endblock %}
{% block body%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('a#forvard').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard1').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard1',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard1').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard1',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard2').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard2',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard2').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard2',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard3').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard3',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard3').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard3',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard4').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard4',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard4').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard4',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard5').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard5',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard5').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard5',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard6').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard6',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard6').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard6',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard7').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard7',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard7').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard7',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#forvard8').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard8',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#resvard8').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard8',
                function(data) {
             //do nothing
            });
            return false;
        });
    });
</script>
<div class="body">
    <div class="Zagolovok p-md-5 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
         <h1 class="display-4 fw-normal"><ya-tr-span data-type="trSpan" data-selected="">Заголовок</ya-tr-span></h1>
          <p class="lead fw-normal"><ya-tr-span data-type="trSpan">подзаголовок. </ya-tr-span><ya-tr-span data-type="trSpan">Начните.</ya-tr-span></p>
        <a class="btn btn-outline-secondary" href="#"><ya-tr-span data-type="trSpan">Скоро выйдет</ya-tr-span></a>
        </div>
    </div>

    <h1 class="name"> Кофейные напитки на основе эспрессо</h1>
    <selection class="coffe_1" id="Jump-here">
        <div class="coffe_img">
            <img src="./static/images/экспрессо.jpg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Экспрессо </h1>
            <span class="information">Экспрессо - напиток, который состоит из воды и тщательно измельчённых кофейных зёрен. Во вкусе экспрессо гармонично сочетаются сладость, горечь и лёгкая кислинка.</span>

            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servoс}}
                        <span>  руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 50 мл</span>
                    </div>

                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard" id="resvard"><button class="bt_minus" type="button" name="button" onClick="history.go(0);">-</button></a>
            {{servo1}}
                <a href="forvard" id="forvard"><button class="bt_plus" type="button" name="button" onClick="history.go(0);">+</button></a>
            </form>
            </div>
    </selection>



    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/американо.jpg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Американо </h1>
            <span class="information"> Американо - это крепкий кофе, который разбавляют водой. Вкус у американо мягкий, не четко выраженный, отсутствует горчинка, может проявляться легкая кислинка. В кофе можно добавить сахар, сливки, молоко.</span>

            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servod}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 150 мл</span>
                    </div>
                </div>
            </div>
            <form>
                 <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard1" id="resvard1"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo2}}
                <a href="forvard1" id="forvard1"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form>
        </div>
    </selection>



    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/доппио.webp" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Доппио </h1>
            <span class="information"> Доппио – это две порции эспрессо. Вкус доппио очень насыщенный и плотный, богат вкусовыми оттенками — ореховыми нотками с примесью трав, с легкой горчинкой.</span>

            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servov}}
                        <span> руб.</span>
                    </div>

                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 60 мл</span>
                    </div>
                </div>
            </div>
            <form>
                 <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard2" id="resvard2"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo3}}
                <a href="forvard2" id="forvard2"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form>
        </div>
    </selection>


    <h1 class="name_2">Кофейные напитки с молоком</h1>
    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/Капучино.webp" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Капучино </h1>
            <span class="information">Капучино – кофейный напиток на основе эспрессо, с добавлением молока. Капучино обладает мягким вкусом с легкой кофейной горчинкой. Напиток получается сладковатым даже без добавления сахара.</span>

            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servoh}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 200 мл</span>
                    </div>
                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard3" id="resvard3"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo4}}
                <a href="forvard3" id="forvard3"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>
            </form>
        </div>
    </selection>



    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/Латте.jpg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Латте </h1>
            <span class="information">Латте похож на капучино, но он менее крепкий. По вкусу нежный, сливочно-молочный.</span>
            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servot}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 250 мл</span>
                    </div>
                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard4" id="resvard4"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo5}}
                <a href="forvard4" id="forvard4"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form>
        </div>
    </selection>




    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/Венский кофе.jpeg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Венский кофе </h1>
            <span class="information">Венский кофе - это напиток, готовящийся с добавлением молока, сливок, шоколада. По вкусу сливочный и мягкий.</span>
            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servoa}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 100 мл</span>
                    </div>
                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard5" id="resvard5"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo6}}
                <a href="forvard5" id="forvard5"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form></div>
    </selection>

    <h1 class="name_3">Холодные кофейные напитки</h1>
    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/фраппе.jpg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Фраппе </h1>
            <span class="information">Фраппе – чёрный кофе с пенкой, взбитый со льдом. Вкус фраппе имеет ярко выраженный кофейный, с ореховыми акцентами.</span>
            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servob}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 300 мл</span>
                    </div>
                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard6" id="resvard6"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo7}}
                <a href="forvard6" id="forvard6"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form>
        </div>
    </selection>

    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/экспрессо-тоник.jpg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Эспрессо-тоник </h1>
            <span class="information">Эспрессо-тоник - это холодный и освежающий напиток. В нём используется тоник, который дает умеренную горечь. Сладости практически не ощущается.</span>
            <div class="buy">
                <div class="apartament">
                    <div class="price">
                         {{servow}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 300 мл</span>
                    </div>
                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard7" id="resvard7"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo8}}
                <a href="forvard7" id="forvard7"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form>
        </div>
    </selection>

    <selection class="coffe_1">
        <div class="coffe_img">
            <img src="./static/images/Кофейный смузи.jpg" width="500" height="400">
        </div>
        <div class="descriptoin">
            <h1 class="title"> Кофейный смузи </h1>
            <span class="information">Кофеный смузи - смузи на основе эспрессо и йогурта. В него добавляют свежие ягоды или фрукты. Вкусный и ароматный.</span>
            <div class="buy">
                <div class="apartament">
                    <div class="price">
                        {{servop}}
                        <span> руб.</span>
                    </div>
                </div>
                <div class="apartament_1">
                    <div class="weight">
                        <span> 300 мл</span>
                    </div>
                </div>
            </div>
            <form>
                <a href="pasibo"><button class="custom-btn btn-1" type="button">Купить</button></a>
                <a href="resvard8" id="resvard8"><button class="bt_minus" type="button" name="button" onClick="window.location.reload()">-</button></a>
            {{servo9}}
                <a href="forvard8" id="forvard8"><button class="bt_plus" type="button" name="button" onClick="window.location.reload()">+</button></a>

            </form>
        </div>
    </selection>
</div>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
    integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

<section class="container-fluid sec-footer" id="Jump-here2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">О нас</div>
                        <div class="card-text">
                            <p>Низкие цены на любимые напитки<br>
                            Быстрая доставка по колледжу<br>
                            Скидки для постоянных покупателей</p>
                        </div>
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">Данные</div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>8-920-160-08-94</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span>г.Тверь, наб.Реки Лазури</span>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-envelope-open ml-3"></i>
                                    <span>bodrcoffee@gmail.com</span>
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.card-text-->
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col text-center">
                <img src="https://i.ibb.co/tCL8NxR/bodr-coffe.jpg" alt="Bodrcoffee" class="mb-3">
                <br class="clearfix">
                <a href="https://vk.com/likakochura" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://vk.com/me.natasha" class="snip1472"><i class="fab fa-instagram"></i></a>
                <a href="https://vk.com/ytu_nytu" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
                <a href="https://vk.com/ddazzaikka" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>
<section class="container-fluid sec-sub-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/" style="color: #574235"><ya-tr-span data-type="trSpan">Наверх</ya-tr-span></a>
            </div><!--.col-->
            <div class="col text-left">
                <a href="https://damion.club/uploads/posts/2022-11/1668680661_damion-club-p-milie-kotiki-v-odezhde-vkontakte-79.jpg" class="f-light text-dark"><ya-tr-span data-type="trSpan">MEOW</ya-tr-span></a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>

{% endblock %}