<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Сасибо</title>
</head>
<body>
<div class="text">
       <p style="text-align: center;"><img src="./static/images/galka.gif" width="80" height="100"></p>
       <h2 class="yes"> ГОТОВО </h2>
       <h1 class="te">Спасибо за покупку!</h1>
       <h3 class="te">Ваш заказ успешно оформлен. Мы свяжемся с вами в ближайшее время!</h3>
    </div>
</body>
</html>