{% extends 'body.html' %}

{% block title%}
О нас
{% endblock %}
{% block body%}
<center>
    <div class="content">
        <h1 class="page-headding heading">О Bodrcoffee</h1>
    </div>
</center>

<div class="static-text">
    <p><em><strong>Можно еще что то добавить</strong></em></p>
    <p><em>Мы рады предложить вам небольшой асортимент кофе.</em></p>
    <p><em></em></p>
    <p><em><strong>Наши главные преимущества:</strong></em></p>
    <ul>
        <li><em>Низкие цены от производителей</em></li>
        <li><em>Доставка по городу в день заказа</em></li>
        <li><em>Доставка заказов Почтой по всей Стране за 5-15 дней</em></li>
        <li><em>Только оригинальная и сертифицированная продукция</em></li>
        <li><em>Гарантия на все товары – 5 лет!</em></li>
        <li><em>Не понравился товар? Вернем или обменяем в течение 14-ти дней без оформления лишних бумаг!</em></li>
        <li><em>Бонусы и скидки для постоянных покупателей</em></li>
    </ul>
</div>
{% endblock %}
